.boxA:after{
    content:"";
    display:block;
    clear: both;
}

.boxB{
    float: left;
    width: 77%;
    margin-left: 5px;
    padding: 3 3 3 3;
}

.box4{
    float: left;
    width: 20%;
    padding: 5 5 5 5;
}

/* メニュー縦並び */

.menu{
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li a{
    display: block;
    padding: 10px;
    color: black;
    font-size: 18px;
    text-decoration: none;
    border: solid 1px black;
    background-color: white
}

.menu li a:hover {
    background-color: #27ecec;
}

/* title */

.site h1{
    font-size: 35px;
    color:rgb(0, 128, 96);
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
}

.site{
    background-color: rgba(5, 0, 10, 0.623);
    margin: 0 0 0 0;
    border-bottom: solid 3px white;
}

/* body */
body {
	margin: 0;
	padding: 0;
    background-color: rgb(146, 131, 110);
}

/* sidemenu */
.sidemenu{
    border: solid 3px gray;
}

.sidemenu h1{
    margin: 0;
    padding: 10px;
    font-size: 16px;
    font-weight: normal;
}

.sidemenu h1 i{
    margin-right: 5px;
    color: #27ecec;
    font-size: larger;
}

/* box1 */


/* boxb */
.boxB{
    background-color: white;
    color:black;
    padding-bottom: 10cm;
    margin-bottom: 5px;
    margin-top: 5px
}

.box2 p{
    font-size: 1.25em;
    margin-bottom: 3;
    margin-left: 3;
    margin-right: 3;
    margin-top: 3;
}



/* 全体 */
.body{
    font-family:  Impact,Charcoal; 
}
